<div class="navbar">
    <div class="navbar-vertical">
        <div>
            <div class="header">
                <div class="title"> ImgSurf, Cross </div>
            </div>
            <div class="body">
                <div class="menu"> Home </div>
                <div class="menu"> Images </div>
                <div class="menu"> Liked </div>
            </div>
        </div>
        <div class="footer">
            <div class="menu"> Login / Sign Up </div>
        </div>
    </div>
</div>