.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE 10 */
  flex: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.imgView{
  width:100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  height:400px;
  width: 400px;
}
.showImage{
  width: calc(100%);
  height: calc(100% - 75px);
  padding: 20px 20px 0px 20px;
}

/* Style buttons */
.downloadbtn {
  background-color: DodgerBlue;
  font-size: 20px;
  margin: 10px auto;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

/* Darker background on mouse-over */
.downloadbtn:hover {
  background-color: RoyalBlue;
  transition:none;
}

.closebtn{
  position: absolute;
  top: -35px;
  right: -10px;
  padding: 10px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  outline:none;
  border:none;
}
.closebtn:hover{
  transform:scaleX(1.05);
  cursor: pointer;
}